/* 
  # الغابة الساحرة
  
  تتدرج درجات الأخضر الغابي عبر اللون الأخضر المصفر الفاتح والبيج الناعم والألوان المستوحاة من أوراق الشجر، لتخلق جوًّا ترابيًّا ساحرًا يبعث على الهدوء

  التأثيرات النفسية:
  - مجدد للطاقة
  - طبيعي
  - منشط للروح

  المعاني:
  - التجديد
  - الحيوية
  - السكينة

  https://coolors.co/palette/134611-3e8914-3da35d-96e072-e8fccf
*/

:root {
  /* لون أخضر غامق، يكاد يكون أسود، يستحضر صورة الأشجار دائمة الخضرة الكثيفة وغموض منتصف الليل، وينضح بالقوة والطاقة البدائية */
  --black-forest: #134611;

  /* استحضر جوهر الغابات البكر؛ حيث يجتمع العمق والهدوء والثبات في لون أخضر مهيب وواثق */
  --india-green: #3e8914;

  /* نغمة نباتية عميقة تذكرنا بالغابات المورقة، تمنح طاقة تبعث على الاستقرار وإحساسًا بالعمق الغامض */
  --medium-jungle: #3da35d;

  /* يتميز هذا اللون بالنعومة والهدوء، ويمنح راحة مهدئة تشبه النسيم البارد الذي يهب على أوراق الشجر الجديدة في ضوء الصباح الباكر */
  --light-green: #96e072;

  /* لون ناعم ومورق مع لمسة منعشة، يستحضر ذكريات نمو الربيع وتجدد الطبيعة الهادئ */
  --frosted-mint: #e8fccf;
}
